[Desktop Entry]
Encoding=UTF-8
Name=applebycoin
Comment=applebycoin P2P Cryptocurrency
Comment[fr]=applebycoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=applebycoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/applebycoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/applebycoin80.xpm
MimeType=x-scheme-handler/applebycoin;
Categories=Office;
