#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_applebycoin
#build/applebycoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_applebycoin)

DEB_INSTALL_EXAMPLES_applebycoind += debian/examples/*
DEB_INSTALL_MANPAGES_applebycoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 applebycoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f applebycoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake applebycoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_applebycoin
	#src/test_applebycoin

# Ensure wrapper is set executable
binary-post-install/applebycoind:
	chmod +x $(cdbs_curdestdir)usr/bin/applebycoind
binary-post-install/applebycoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/applebycoin-qt
